
    body{
        background-image: url("../img/fundo_souls.webp");
        background-size: 100vb;
        
    }
    #m{
       color: #b22222;
    }
    #r{
        color: #663399;
    }
    .golde{
        color: #ffd700;
    }
button{
    
}